h1{
    text-align: center;
    color: aqua;
    background-color: green;
}
p1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h3 {
    font-weight: 1000;
    color:green;
}